extends base

block content
	td(style='display: block; margin-top: 3rem;')
		table
			tr
				td
					p(style="margin-bottom: 0; margin-top: 0;") Name: #{name}
					p(style="margin-bottom: 0; margin-top: 0;") Email: #{email}
					p(style="margin-bottom: 0; margin-top: 0;") Phone: #{phone}
					p(style="margin-bottom: 0; margin-top: 0;") Email text:
					p(style="display: block;") #{desc}